# =========================
# Python
# =========================
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/

# 完整忽略 alembic 迁移生成目录（保留根目录 alembic.ini 配置文件）
backend/migrations/

# Environment
backend/.env

# =========================
# React
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# 项目目录树文件，不需要提交
tree.txt