# =========================
# Python
# =========================
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/

# 完整忽略 alembic migrations 全部文件
backend/migrations/

# Environment
backend/.env

# =========================
# React
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log